@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');


body {
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: normal;
    background-color: #303132;
    color: silver;
    background: url(https://i.pinimg.com/originals/54/eb/6a/54eb6a27ce0c3cac9eadcedcf2befac7.jpg);
    background-attachment: fixed;
    background-size: cover;
        
}

h1, h2, h3, h4 ,h5 {
    font-family: 'Oswald', serif;    
    color: white;
}

/* Layout */
.header {
    padding: 0rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #af2f1c;
}

.header h1 {
    float: left;
    margin-left: 1rem;
}

.header h2 {
    float: right;
    margin-top: 2rem;
    margin-right: 1rem;
}

.footer {
    padding: 20px;
    width: 100%;
    clear: both;
    text-align: center;
    
}

.content {
    margin: 100px auto;
    max-width: 1000px;
    text-align: center;
    margin-top: 7rem;
    font-family: 'Oswald';
    color: black;
}

.super h3, .luxury h3, .classic h3 {
    font-size: 3rem;
    text-align: center;
    clear: both;
}


.designers h3, .broadcasters h3, .entertainment h3 {
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
}

.day1, .day2, .day3 {
    margin-bottom: 20px;
    overflow: auto;
}

.day1 h1, .day2 h1, .day3 h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 250px;
    background-color: #282828;
    margin: auto;
    border-radius: 80%;
    float: left;
    width: 20%;
    clear: both;
    overflow: auto;
}

/* Articles */

.day1 p, .day2 p, .day3 p {
    float: right;
    width: 75%;
    max-width: 1100px
}

.super p, .luxury p, .classic p {
    margin-bottom: auto;
    margin-top: 20px;
    text-align: center;
}

.designers li, .broadcasters li, .entertainment li {
    clear: both;
    margin-bottom: 5px;
}

.gallery {
    clear: both;
    overflow: auto;
}